name: "Publish - Canary"

on:
  pull_request:
    types:
      - labeled
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-snapshot:
    if: ${{ (github.event.label.name == 'release-canary') || (github.event.action == 'synchronize' && contains(github.event.pull_request.labels.*.name, 'release-canary')) }}
    name: Release Snapshot
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@main
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup Node.js 18.x
        uses: actions/setup-node@main
        with:
          node-version: 18.x
          cache: 'npm'

      - name: Install modules
        run: npm install

      - name: Create Snapshot version
        run: npm run changeset version --snapshot canary

      - name: Build Packages
        run: npm run build

      - name: Emit Types
        run: npm run type:emit

      - name: Publish Snapshots
        id: changesets
        uses: changesets/action@v1
        with:
          publish: npm run changeset publish --tag canary --snapshot
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Add comment to PR with canary versions published
        run: |
          canaryVersions=$( echo '${{ steps.changesets.outputs.publishedPackages }}' | jq -r -c 'map([.name,.version]) | map(join("@")) | join("\n")' )
          canariesComment=$(echo "Latest Canary Releases:\n\n${canaryVersions}" )
          echo -e "${canariesComment}" > msg
          export msg=$(cat msg)
          gh pr comment ${{ github.event.number }} --body "$msg"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
